<div class="contenedor-principal">
  
  <header class="barra-busqueda">
    <div class="input-wrapper">
      <svg class="icono-lupa" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>
      <input 
        type="text" 
        placeholder="Escribe el nombre de un país (ej. Honduras, Brasil)..." 
        (input)="alBuscar($event)"
        class="input-buscar"
      />
    </div>
  </header>

  <main class="contenido-paises">
    @if (paisesEncontrados().length > 0) {
      <app-listas-paises 
        [paises]="paisesEncontrados()"
        (alSeleccionarPais)="seleccionarPais($event)">
      </app-listas-paises>
    } @else {
      <div class="mensaje-bienvenida">
        <span class="icono-tierra">🌍</span>
        <h2>Explora el Mundo</h2>
        <p>Escribe el nombre de un país arriba para comenzar la búsqueda y descubrir sus detalles.</p>
      </div>
    }
  </main>

  @if (paisSeleccionado()) {
    <footer class="footer-fijo">
      <div class="footer-encabezado">
        <div class="info-pais">
          <span class="mini-bandera-emoji">
            {{ paisSeleccionado().flag?.emoji || '🏳️' }}
          </span>
          <h3>{{ paisSeleccionado().nombre }}</h3>
        </div>
        
        <div class="botones-accion">
          <a class="btn btn-clima" [routerLink]="['/pais', paisSeleccionado().codes?.alpha_2, 'clima']">🌤️ Clima</a>
          <a class="btn btn-detalles" [routerLink]="['/pais', paisSeleccionado().codes?.alpha_2, 'detalle']">📄 Detalle</a>
        </div>
      </div>

      <div class="footer-cuerpo">
        <router-outlet></router-outlet>
      </div>
    </footer>
  }
</div>